@{
    ViewData["Title"] = "Carrinho de Compras";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-2">
        </div>

        <div class="col-8">

            <h1 class="text-center">Compra feita com sucesso!</h1>
             
        </div>

        <div class="col-2">
        </div>
    </div>
     
</div>

<style>
    table {
        margin-top: 20px;
    }

    .table th,
    .table td {
        text-align: center;
    }

    .table th {
        vertical-align: middle;
    }

    .btn-group {
        display: flex;
    }

    .btn {
        flex-grow: 1;
    }
</style>

<script>
    function adicionarItem(gameId) {
        // Lógica para adicionar item ao carrinho com o ID do jogo
    }

    function removerItem(gameId) {
        // Lógica para remover item do carrinho com o ID do jogo
    }
</script>
